<?xml version="1.0"?>
<configuration>
  <configSections> </configSections>
  <connectionStrings>
    <add name="inventory.My.MySettings.OrderingSystemDBConnectionString" connectionString="Data Source=ABUEBEBOSAS\SQLEXPRESS;Initial Catalog=OrderingSystemDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>